{% extends 'home.html' %}

{% block body %}
<h1>{{form_message}}</h1> 
{% from "includes/_formhelpers.html" import render_field %}
<form method="POST" action="">
	<div class="form-group">
		{{render_field(form.email, class_="form-control")}}
	</div>
	<p><input type="submit" class="btn btn-primary" value="Submit"></p>
    <p>
    	<a href="./login">Already a member? Dive right in! </a>
    </p>
    <p>
    	<a href="./signin">Haven't joined us yet? Join the club!! </a>
    </p>
</form>
{% endblock %}